html {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	font-size: 16px;
	color: #fcfcfc;
	font-size: 16px;
}

@media screen and (min-width: 676px) {
	.row {
		padding-top: 16vh !important;
	}
}

#drivers-list {
	padding-bottom: 48px;
}

.dashboard-tile-text {
	font-size: 24px;
	font-weight: 500;
}

.dashboard-tile-text:hover {
	font-size: 26px;
	transition: 0.4s ease-in-out;
}

.dashboard-title {
	text-align: center;
	margin-bottom: 48px;
	font-size: 40px;
}

@media screen and (min-width: 676px) {
	.dashboard-title {
		font-size: 64px;
		margin-bottom: 0;
	}
}
